# Python
__pycache__/
*.pyc
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# VS Code
.vscode/

# Environment
.env

# macOS
.DS_Store

app/trivy-report.txt
app/trivy-report-v2.txt
trivy-report.json